@import "tailwindcss";
/* @import "@mantine/core/styles.layer.css";
@import "@mantine/notifications/styles.css"; */

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-main: #f9dc72;
  --color-sub: #f49826;
  --color-back: #f6f1df;
  --color-card-back: #f8f6ee;
  --color-card-tag: #f9dc72;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background);
  color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  color: black;
}
