services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: weather_backend
    working_dir: /var/www/html
    volumes:
      - ./backend:/var/www/html
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: weather_app
      DB_USERNAME: laravel
      DB_PASSWORD: secret
    command: >
      sh -c "php artisan migrate && php artisan serve --host=0.0.0.0 --port=8000"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: weather_frontend
    working_dir: /app
    volumes:
      - ./frontend:/app
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: development
      CHOKIDAR_USEPOLLING: "true"
    command: >
      sh -c "npm install && npm run dev"

  db:
    image: mysql:8.0
    container_name: weather_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: weather_app
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
    ports:
      - "3310:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
