services:
  app:
    build: ./frontend
    volumes:
      - ./frontend:/front
    ports:
      - 3001:3000
    environment:
      BACKEND_URL: http://api:8000

  api:
    build: ./backend
    volumes:
      - ./backend:/backend
    working_dir: /backend
    ports:
      - 8000:8000
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: dev
      DB_USERNAME: root
      DB_PASSWORD: password
    command: sh -lc "php artisan serve --host=0.0.0.0 --port=8000"


  db:
    image: mysql:8.4
    volumes:
      - ./backend/mysql_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: dev
    ports:
      - 3310:3306
    command: >
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5
