# fly.toml app configuration file generated for weather-app-young-cloud-6845 on 2026-01-30T21:57:58+09:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'weather-app-young-cloud-6845'
primary_region = 'nrt'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']


[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024
